<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- - - - - - - - - -  Permisos sin necesidad de autorización  - - - - - - - - - -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- - - - - - - - - - Permisos que necesitas Autorización - - - - - - - - -->
    <!-- Permisos de Camara -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrimeraAPP"
        tools:targetApi="31">
        <activity
            android:name="androidearly.utilities.dialogs.Dialog"
            android:exported="false" />
        <activity
            android:name="androidearly.utilities.notifications.CustomToastNotificacion"
            android:exported="false" />
        <activity
            android:name="androidearly.ui.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="androidearly.ui.heroApp.DetailSuperHeroActivity"
            android:exported="false" />
        <activity
            android:name="androidearly.ui.heroApp.SuperHeroListActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.coco.primeraapp.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" /> <!-- Cambia el nombre del archivo XML según el que hayas creado -->
        </provider>

        <activity
            android:name="androidearly.primeraApp.fotosApp.FotosActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name="androidearly.primeraApp.todoApp.TodoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TODOAPP"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name="androidearly.primeraApp.imcCaltulator.ResultActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name="androidearly.primeraApp.imcCaltulator.ImcCaltulatorActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name="androidearly.ui.home.MenuPrincipal"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="androidearly.ui.home.PrimerVentana"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
    </application>

</manifest>
